{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": [2, "single", { "avoidEscape": true }],
    "arrow-body-style": 0,
    "no-console": 0,
    "import/prefer-default-export": 0,
    "prefer-template": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
